<h2>{{ roomListName }}</h2>
<table class="table">
  <tr>
    <th>Index</th>
    <th>Even/Odd</th>
    <th>Room number</th>
    <th>Room type</th>
    <th>Room amenities</th>
    <th>Room price</th>
    <th>Checkin Time</th>
    <th>Rating</th>
    <th>Select Room</th>
  </tr>
  <tr
    [ngClass]="e ? 'even' : 'odd'"
    *ngFor="
      let room of rooms | filter : filteredPrice;
      let e = even;
      let o = odd;
      let i = index
    "
  >
    <td>{{ i }}</td>
    <td>{{ e ? "even" : "odd" }}</td>
    <td>{{ room.roomNumber }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.amenities | uppercase }}</td>
    <td>{{ room.price | currency : "REF" }}</td>
    <td>{{ room.checkinTime | date : "dd.MM.yy" }}</td>
    <td>{{ room.rating | number : "1.0-0" }}</td>
    <td>
      <!-- <button class="btn btn-primary" (click)="selectRoom(room)">Select</button> -->
      <button
        class="btn btn-primary"
        [routerLink]="['/booking', room.roomNumber]"
      >
        Book room
      </button>
    </td>
  </tr>
</table>
