<!-- <h1>hello world</h1> -->
<!-- <hinv-rooms /> -->
<!-- <hinv-employee /> -->

<!-- <hinv-container>
  <hinv-rooms />
  <hinv-employee />
  <h1>desde el ng-content</h1>
</hinv-container> -->

<!-- <div>
  <ng-template #user> </ng-template>
</div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    <p>Welcome to this web app user!</p>
  </div>

  <div *ngSwitchCase="'Admin'">
    <hinv-rooms />
  </div>

  <div *ngSwitchDefault>No estás autorizado para esta ruta</div>
</div> -->

<!-- <a [routerLink]="'/rooms'">Rooms</a>
<a [routerLink]="'/employee'">Employee</a> -->

<!-- <router-outlet></router-outlet> -->

<hinv-app-nav></hinv-app-nav>
